
<%= form_with(model: @user, local: true) do |form| %>
<%= error_validator(@user)%>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<%= link_to user_validation ,  logout_path %>
