<h1>Create a New Event</h1>

<%= form_with(model: @event, local: true) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_field :date %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>